<h3>Application form</h3>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="email" class="form-control" id="name" placeholder="bob vance">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="linkedIn">LinkedIn</label>
        <input type="text" class="form-control" id="linkedIn" placeholder="https://www.linkedin.com/in/username">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>